# Part 1B: Datatypes in HDF5

> Objectives:
> * How to create (and read) HDF5 files with datasets of homogeneous, heterogenous and nested datatypes
> * See how h5py and PyTables achieves the same thing with their own APIs
> * Be introduced to the `IsDescription` class in PyTables for declaring tables (instead of NumPy dtypes)

In [1]:
import numpy as np
import h5py
import tables

In [2]:
import os
import shutil
data_dir = "datatypes"
if os.path.exists(data_dir):
    shutil.rmtree(data_dir)
os.mkdir(data_dir)

## Homogeneous datatypes

In [3]:
arr_to_store = np.arange(10, dtype=np.int8)
arr_to_store

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int8)

### Using h5py

In [4]:
FILENAME = os.path.join(data_dir, "homogenous_h5py.h5")
f = h5py.File(FILENAME, "w")

In [5]:
f.create_dataset(data=arr_to_store, name="mydata")

In [6]:
f['/mydata2'] = arr_to_store    # data can be accessed in a NumPy-like interface

In [7]:
list(f)

['mydata', 'mydata2']

In [8]:
f['/mydata'][:]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int8)

In [9]:
f.close()

In [10]:
!h5ls -rv {FILENAME}

Opened "datatypes\homogenous_h5py.h5" with sec2 driver.
/                        Group
    Location:  1:96
    Links:     1
/mydata                  Dataset {10/10}
    Location:  1:800
    Links:     1
    Storage:   10 logical bytes, 10 allocated bytes, 100.00% utilization
    Type:      native signed char
/mydata2                 Dataset {10/10}
    Location:  1:1400
    Links:     1
    Storage:   10 logical bytes, 10 allocated bytes, 100.00% utilization
    Type:      native signed char

In [11]:
!ls -lh {data_dir}

total 4.0K
-rw-r--r-- 1 tomkooij 197613 2.2K Jun 19 08:31 homogenous_h5py.h5

### Using PyTables

In [12]:
import tables

In [13]:
FILENAME = os.path.join(data_dir, "homogenous_pytables.h5")
f2 = tables.open_file(FILENAME, "w")

In [14]:
f2.create_array(f2.root, name="mydata", obj=arr_to_store)

/mydata (Array(10,)) ''
  atom := Int8Atom(shape=(), dflt=0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'irrelevant'
  chunkshape := None

In [15]:
f2.root.mydata[:]  # data can be accessed in a NumPy-like interface

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int8)

In [16]:
f2

File(filename=datatypes\homogenous_pytables.h5, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/mydata (Array(10,)) ''
  atom := Int8Atom(shape=(), dflt=0)
  maindim := 0
  flavor := 'numpy'
  byteorder := 'irrelevant'
  chunkshape := None

In [17]:
f2.close()

In [18]:
!h5ls -rv {FILENAME}

Opened "datatypes\homogenous_pytables.h5" with sec2 driver.
/                        Group
    Attribute: CLASS scalar
        Type:      5-byte null-terminated UTF-8 string
        Data:  "GROUP"
    Attribute: PYTABLES_FORMAT_VERSION scalar
        Type:      3-byte null-terminated UTF-8 string
        Data:  "2.1"
    Attribute: TITLE null
        Type:      1-byte null-terminated UTF-8 string

    Attribute: VERSION scalar
        Type:      3-byte null-terminated UTF-8 string
        Data:  "1.0"
    Location:  1:96
    Links:     1
/mydata                  Dataset {10/10}
    Attribute: CLASS scalar
        Type:      5-byte null-terminated UTF-8 string
        Data:  "ARRAY"
    Attribute: FLAVOR scalar
        Type:      5-byte null-terminated UTF-8 string
        Data:  "numpy"
    Attribute: TITLE null
        Type:      1-byte null-terminated UTF-8 string

    Attribute: VERSION scalar
        Type:      3-byte null-terminated UTF-8 string
        Data:  "2.4"
    Location:  1:1024
    Links:     1
    Storage:   10 logical bytes, 10 allocated bytes, 100.00% utilization
    Type:      native signed char

H5tools-DIAG: Error detected in HDF5:tools (1.8.17) thread 0:
  #000: C:\bld\hdf5_1490811383644\work\hdf5-1.8.17\tools\lib\h5tools_dump.c line 1836 in h5tools_dump_mem(): H5Sis_simple failed
    major: Failure in tools library
    minor: error in function
  #001: C:\bld\hdf5_1490811383644\work\hdf5-1.8.17\tools\lib\h5tools_dump.c line 1836 in h5tools_dump_mem(): H5Sis_simple failed
    major: Failure in tools library
    minor: error in function

In [19]:
!ls -lh {data_dir}

total 8.0K
-rw-r--r-- 1 tomkooij 197613 2.2K Jun 19 08:31 homogenous_h5py.h5
-rw-r--r-- 1 tomkooij 197613 2.2K Jun 19 08:31 homogenous_pytables.h5

## Compound Datatypes

In [20]:
dtype = np.dtype([("myfield1", np.int32), ("myfield2", np.float64), ("myfield3", "S5")])
table_to_store = np.fromiter(((i, i**2, "foo_%d"%i) for i in range(10)), dtype=dtype)

In [21]:
table_to_store

array([(0, 0.0, b'foo_0'), (1, 1.0, b'foo_1'), (2, 4.0, b'foo_2'),
       (3, 9.0, b'foo_3'), (4, 16.0, b'foo_4'), (5, 25.0, b'foo_5'),
       (6, 36.0, b'foo_6'), (7, 49.0, b'foo_7'), (8, 64.0, b'foo_8'),
       (9, 81.0, b'foo_9')],
      dtype=[('myfield1', '<i4'), ('myfield2', '<f8'), ('myfield3', 'S5')])

### Using h5py

In [22]:
FILENAME = os.path.join(data_dir, "compound_h5py.h5")
f = h5py.File(FILENAME, "w")

In [23]:
f['mydata'] = table_to_store

In [24]:
f['mydata']

In [25]:
f['mydata'].dtype

dtype([('myfield1', '<i4'), ('myfield2', '<f8'), ('myfield3', 'S5')])

In [26]:
f['mydata'][:]

array([(0, 0.0, b'foo_0'), (1, 1.0, b'foo_1'), (2, 4.0, b'foo_2'),
       (3, 9.0, b'foo_3'), (4, 16.0, b'foo_4'), (5, 25.0, b'foo_5'),
       (6, 36.0, b'foo_6'), (7, 49.0, b'foo_7'), (8, 64.0, b'foo_8'),
       (9, 81.0, b'foo_9')],
      dtype=[('myfield1', '<i4'), ('myfield2', '<f8'), ('myfield3', 'S5')])

In [27]:
f.close()

In [28]:
!h5ls -v {FILENAME}

Opened "datatypes\compound_h5py.h5" with sec2 driver.
mydata                   Dataset {10/10}
    Location:  1:800
    Links:     1
    Storage:   170 logical bytes, 170 allocated bytes, 100.00% utilization
    Type:      struct {
                   "myfield1"         +0    native int
                   "myfield2"         +4    native double
                   "myfield3"         +12   5-byte null-padded ASCII string
               } 17 bytes

### Exercise

Open `datatypes\compound_h5py.h5` in PyTables and investigate the dataset.

Look at the dataset description. Read it from disk. Look at the dtype.

In [29]:
FILENAME = os.path.join(data_dir, "compound_h5py.h5")

In [30]:
!ptdump {FILENAME}

/ (RootGroup) ''
/mydata (Table(10,)) ''

In [31]:
# SOLUTION STARTS HERE!!!
fileh = tables.open_file(FILENAME, 'r')

In [32]:
fileh

File(filename=datatypes\compound_h5py.h5, title='', mode='r', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/mydata (Table(10,)) ''
  description := {
  "myfield1": Int32Col(shape=(), dflt=0, pos=0),
  "myfield2": Float64Col(shape=(), dflt=0.0, pos=1),
  "myfield3": StringCol(itemsize=5, shape=(), dflt=b'', pos=2)}
  byteorder := 'little'
  chunkshape := (3855,)

In [33]:
x = fileh.root.mydata[:]
x

array([(0, 0.0, b'foo_0'), (1, 1.0, b'foo_1'), (2, 4.0, b'foo_2'),
       (3, 9.0, b'foo_3'), (4, 16.0, b'foo_4'), (5, 25.0, b'foo_5'),
       (6, 36.0, b'foo_6'), (7, 49.0, b'foo_7'), (8, 64.0, b'foo_8'),
       (9, 81.0, b'foo_9')],
      dtype=[('myfield1', '<i4'), ('myfield2', '<f8'), ('myfield3', 'S5')])

In [34]:
x.dtype

dtype([('myfield1', '<i4'), ('myfield2', '<f8'), ('myfield3', 'S5')])

In [35]:
x.shape

(10,)

### Using PyTables (simple way)

In PyTables a compound dataset is called a `Table`.

To store a table we use `create_table`:

In [36]:
FILENAME = os.path.join(data_dir, "compound_pytables1.h5")
f2 = tables.open_file(FILENAME, "w")

In [37]:
table = f2.create_table(f2.root, name="mydata", description=table_to_store.dtype)
table

/mydata (Table(0,)) ''
  description := {
  "myfield1": Int32Col(shape=(), dflt=0, pos=0),
  "myfield2": Float64Col(shape=(), dflt=0.0, pos=1),
  "myfield3": StringCol(itemsize=5, shape=(), dflt=b'', pos=2)}
  byteorder := 'little'
  chunkshape := (3855,)

The `Table` class has high level functions, such as `append()` and `read()`:

In [38]:
table.append(table_to_store)

In [39]:
table.read()

array([(0, 0.0, b'foo_0'), (1, 1.0, b'foo_1'), (2, 4.0, b'foo_2'),
       (3, 9.0, b'foo_3'), (4, 16.0, b'foo_4'), (5, 25.0, b'foo_5'),
       (6, 36.0, b'foo_6'), (7, 49.0, b'foo_7'), (8, 64.0, b'foo_8'),
       (9, 81.0, b'foo_9')],
      dtype=[('myfield1', '<i4'), ('myfield2', '<f8'), ('myfield3', 'S5')])

In [40]:
table.remove_row(5)

In [41]:
table.read()

array([(0, 0.0, b'foo_0'), (1, 1.0, b'foo_1'), (2, 4.0, b'foo_2'),
       (3, 9.0, b'foo_3'), (4, 16.0, b'foo_4'), (6, 36.0, b'foo_6'),
       (7, 49.0, b'foo_7'), (8, 64.0, b'foo_8'), (9, 81.0, b'foo_9')],
      dtype=[('myfield1', '<i4'), ('myfield2', '<f8'), ('myfield3', 'S5')])

In [42]:
f2.close()

### Using PyTables (description way)

In PyTables it is convenient to define compound datasets using the `tables.IsDescription` class, instead of (complicated) numpy dtypes.

In [43]:
class MyTable(tables.IsDescription):
    myfield1 = tables.Int32Col()
    myfield2 = tables.Float64Col()
    myfield3 = tables.StringCol(itemsize=5)

In [44]:
FILENAME = os.path.join(data_dir, "compound_pytables2.h5")
f3 = tables.open_file(FILENAME, "w")

In [45]:
t = f3.create_table(f3.root, "mydata", MyTable)

In [46]:
t.append(table_to_store)

In [47]:
f3.close()

In [48]:
!ls -l {data_dir}

total 156
-rw-r--r-- 1 tomkooij 197613  2314 Jun 19 08:31 compound_h5py.h5
-rw-r--r-- 1 tomkooij 197613 69879 Jun 19 08:31 compound_pytables1.h5
-rw-r--r-- 1 tomkooij 197613 69879 Jun 19 08:31 compound_pytables2.h5
-rw-r--r-- 1 tomkooij 197613  2164 Jun 19 08:31 homogenous_h5py.h5
-rw-r--r-- 1 tomkooij 197613  2154 Jun 19 08:31 homogenous_pytables.h5

Hmm, it seems like PyTables files are larger than h5py ones, why?  Let's introspect a bit into the files:

In [49]:
!h5ls {data_dir}/compound_h5py.h5

mydata                   Dataset {10}

In [50]:
!h5ls {data_dir}/compound_pytables1.h5

mydata                   Dataset {9/Inf}

We see that the dimensionality of the table created with PyTables is `{10/Inf}`, indicating that the dataset is chunked, whereas the one created with h5py is just `{10}`, which means that it is not using chunking.  As chunked datasets take more space than non-chunked ones, this is why PyTables are larger.

The reason why PyTables tables are chunked by default is that they can be enlarged and compressed, and chunking is required in order to allow that.  More on chunking later.

## Nested fields

In [51]:
class NestedTable(tables.IsDescription):
    """A nested table"""
    name = tables.StringCol(10, pos=0)
    
    class momentum(tables.IsDescription):
        p_x = tables.Float64Col()
        p_y = tables.Float64Col()
        p_z = tables.Float64Col()

In [52]:
FILENAME = os.path.join(data_dir, "nested.h5")
f4 = tables.open_file(FILENAME, "w")

In [53]:
t = f4.create_table(f4.root, "mydata", NestedTable)

In [54]:
t

/mydata (Table(0,)) ''
  description := {
  "name": StringCol(itemsize=10, shape=(), dflt=b'', pos=0),
  "momentum": {
    "p_x": Float64Col(shape=(), dflt=0.0, pos=0),
    "p_y": Float64Col(shape=(), dflt=0.0, pos=1),
    "p_z": Float64Col(shape=(), dflt=0.0, pos=2)}}
  byteorder := 'little'
  chunkshape := (1927,)

In [55]:
dtype = t.dtype
dtype

dtype([('name', 'S10'), ('momentum', [('p_x', '<f8'), ('p_y', '<f8'), ('p_z', '<f8')])])

In [56]:
table_to_store = np.fromiter((("foo_%s"%i, (i, 10+i, 20+i)) for i in range(10)), dtype=dtype)
table_to_store

array([(b'foo_0', (0.0, 10.0, 20.0)), (b'foo_1', (1.0, 11.0, 21.0)),
       (b'foo_2', (2.0, 12.0, 22.0)), (b'foo_3', (3.0, 13.0, 23.0)),
       (b'foo_4', (4.0, 14.0, 24.0)), (b'foo_5', (5.0, 15.0, 25.0)),
       (b'foo_6', (6.0, 16.0, 26.0)), (b'foo_7', (7.0, 17.0, 27.0)),
       (b'foo_8', (8.0, 18.0, 28.0)), (b'foo_9', (9.0, 19.0, 29.0))],
      dtype=[('name', 'S10'), ('momentum', [('p_x', '<f8'), ('p_y', '<f8'), ('p_z', '<f8')])])

In [57]:
table_to_store['momentum']['p_x']

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.])

In [58]:
t.append(table_to_store)

In [59]:
t.read()

array([(b'foo_0', (0.0, 10.0, 20.0)), (b'foo_1', (1.0, 11.0, 21.0)),
       (b'foo_2', (2.0, 12.0, 22.0)), (b'foo_3', (3.0, 13.0, 23.0)),
       (b'foo_4', (4.0, 14.0, 24.0)), (b'foo_5', (5.0, 15.0, 25.0)),
       (b'foo_6', (6.0, 16.0, 26.0)), (b'foo_7', (7.0, 17.0, 27.0)),
       (b'foo_8', (8.0, 18.0, 28.0)), (b'foo_9', (9.0, 19.0, 29.0))],
      dtype=[('name', 'S10'), ('momentum', [('p_x', '<f8'), ('p_y', '<f8'), ('p_z', '<f8')])])

### Using the `Cols` accessor. (PyTables)

`table.col(name)` reads the entire column.

`table.col('momentum')` will read the entire column (array) in memory and slice.

In [60]:
t.col('momentum')[2:5]

array([(2.0, 12.0, 22.0), (3.0, 13.0, 23.0), (4.0, 14.0, 24.0)],
      dtype=[('p_x', '<f8'), ('p_y', '<f8'), ('p_z', '<f8')])

Using the `cols` accessor, we can access the column without reading the entire column in memory:

In [61]:
t.cols.momentum

/mydata.cols.momentum (Cols), 3 columns
  p_x (Column(10,), float64)
  p_y (Column(10,), float64)
  p_z (Column(10,), float64)

In [62]:
t.cols.momentum[2:5]

array([(2.0, 12.0, 22.0), (3.0, 13.0, 23.0), (4.0, 14.0, 24.0)],
      dtype=[('p_x', '<f8'), ('p_y', '<f8'), ('p_z', '<f8')])

Nested columns can be accessed by the `Cols` accessor using natural naming:

In [63]:
t.cols.momentum.p_x

/mydata.cols.momentum.p_x (Column(10,), float64, idx=None)

In [64]:
f4.close()

### Exercise

Investigate reading a small part of a large table from disk.

 * Store the table in a HDF5 file. (Using either PyTables or h5py).
 * Read elements [20:30] from the p_x column.

Is the entire datafile being read from disk?

In [65]:
class NestedTable(tables.IsDescription):
    """A nested table"""
    i = tables.Int32Col()
    
    class momentum(tables.IsDescription):
        p_x = tables.Float64Col()
        p_y = tables.Float64Col()
        p_z = tables.Float64Col() 
        
dtype = tables.description.dtype_from_descr(NestedTable)

In [66]:
N = int(1e6)
table_to_store = np.fromiter(((i, (i, i, i)) for i in range(N)), dtype=dtype)

In [67]:
# SOLUTION STARTS HERE
f = tables.open_file('big.h5', 'w')

In [68]:
f.create_table('/', 'mydata', table_to_store)

/mydata (Table(1000000,)) ''
  description := {
  "i": Int32Col(shape=(), dflt=0, pos=0),
  "momentum": {
  "p_x": Float64Col(shape=(), dflt=0.0, pos=0),
  "p_y": Float64Col(shape=(), dflt=0.0, pos=1),
  "p_z": Float64Col(shape=(), dflt=0.0, pos=2)}}
  byteorder := 'little'
  chunkshape := (4681,)

In [69]:
%time f.root.mydata[:]

Wall time: 45 ms

array([(0, (0.0, 0.0, 0.0)), (1, (1.0, 1.0, 1.0)), (2, (2.0, 2.0, 2.0)),
       ..., (999997, (999997.0, 999997.0, 999997.0)),
       (999998, (999998.0, 999998.0, 999998.0)),
       (999999, (999999.0, 999999.0, 999999.0))],
      dtype=[('i', '<i4'), ('momentum', [('p_x', '<f8'), ('p_y', '<f8'), ('p_z', '<f8')])])

In [70]:
%time f.root.mydata.cols.momentum.p_x[20:30]

Wall time: 3 ms

array([ 20.,  21.,  22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.])

In [71]:
f.close()

In `h5py` there is no equivalent:

In [72]:
f = h5py.File('big.h5', 'a')
dset = f['mydata']

In [73]:
%time dset['momentum']['p_x']  # this reads the entire nested columns and selects `p_x`

Wall time: 75 ms

array([  0.00000000e+00,   1.00000000e+00,   2.00000000e+00, ...,
         9.99997000e+05,   9.99998000e+05,   9.99999000e+05])

In [74]:
f.close()

# Exercise

Using the hierarchy and compound datasets (tables).

`ufo-scrubbed.csv` is a (scrubbed) partial dataset of UFO Sightings from across the world.

Store the UFO sightings in HDF5. Assume the real (full) dataset is VERY large. Store the data in multiple tables (geospatial).
Make sure you use correct dtype etc.

Use h5py and/or pytables.

In [75]:
import csv

In [76]:
with open('datasets/ufo_scrubbed.csv', 'r') as csvfile:
    reader = csv.reader(csvfile)
    dataset = [tuple(line) for line in reader]

In [77]:
dataset[:2]

[('datetime',
  'city',
  'state',
  'country',
  'shape',
  'duration (seconds)',
  'duration (hours/min)',
  'comments',
  'date posted',
  'latitude',
  'longitude '),
 ('10/10/1949 20:30',
  'san marcos',
  'tx',
  'us',
  'cylinder',
  '2700',
  '45 minutes',
  'This event took place in early fall around 1949-50. It occurred after a Boy Scout meeting in the Baptist Church. The Baptist Church sit',
  '4/27/2004',
  '29.8830556',
  '-97.9411111')]

Let's create a dictonary of sightings per country:

In [78]:
from collections import defaultdict
sightings = defaultdict(list)

for sighting in dataset[1:]:
    dt, city, state, country, _, duration, _, comments, _, lat, lon = sighting
    sightings[country].append((dt, city, state, duration, lat, lon))

In [80]:
sightings.keys()

dict_keys(['us', '', 'gb', 'ca', 'au', 'de'])

In [81]:
len(sightings['de'])

105

In [82]:
#
# SOLUTION STARTS HERE
#

In [83]:
dtype=np.dtype([('datetime', 'S16'), ('city', 'S20'), ('state', 'S2'), ('duration', np.int32), ('lat', 'f8'), ('lon', 'f8')])

In [85]:
np.array(sightings['de'], dtype=dtype)

array([(b'10/13/2006 00:02', b'berlin (germany)', b'', 120, 52.516667, 13.4),
       (b'10/20/2012 18:00', b'berlin (germany)', b'', 1500, 52.516667, 13.4),
       (b'10/8/2012 17:10', b'obernheim (germany)', b'', 2, 49.366667, 7.583333),
       (b'1/10/2011 18:38', b'ottersberg (germany)', b'', 240, 53.1, 9.15),
       (b'11/15/1990 22:30', b'bremen (30 km south ', b'', 30, 50.716667, 10.0),
       (b'11/15/2005 15:00', b'sembach (germany)', b'', 120, 49.516667, 7.85),
       (b'11/18/2002 16:35', b'magdeburg (germany)', b'', 4, 52.166667, 11.666667),
       (b'1/1/2008 22:30', b'neuruppin (germany)', b'', 900, 52.933333, 12.8),
       (b'1/1/2009 00:00', b'lampertheim (germany', b'', 1560, 49.601944, 8.471944),
       (b'1/1/2009 00:15', b'ramstein (germany)', b'', 7200, 49.45, 7.533333),
       (b'12/10/1987 21:00', b'nurenburg (germany)', b'', 28800, 49.447778, 11.068333),
       (b'12/15/1998 22:50', b'senftenberg (germany', b'', 60, 51.516667, 14.016667),
       (b'12/18/2003 20:00', b'schwalmtal (germany)', b'', 480, 51.216667, 6.266667),
       (b'12/21/2008 20:31', b'neuss (germany)', b'', 1800, 51.2, 6.683333),
       (b'1/22/2004 06:25', b'babenhausen (germany', b'', 2, 52.05, 8.483333),
       (b'12/24/2001 04:17', b'berlin (germany)', b'', 60, 52.516667, 13.4),
       (b'12/26/1996 15:00', b'mittenwald (germany)', b'', 900, 47.433333, 11.25),
       (b'12/26/2007 13:25', b'ransbach-baumbach (g', b'', 12, 50.466667, 7.733333),
       (b'1/23/2001 15:30', b'ansbach (germany)', b'', 240, 49.3, 10.583333),
       (b'1/24/2012 07:50', b'miesau (germany)', b'', 2, 49.4, 7.433333),
       (b'1/25/2003 14:03', b'bensheim (germany)', b'', 15, 49.680278, 8.616111),
       (b'12/6/2003 13:00', b'muenster (germany)', b'', 300, 51.966667, 7.633333),
       (b'1/30/1994 18:00', b'chemnitz (germany)', b'', 20, 50.833333, 12.916667),
       (b'1/30/2004 23:00', b'kirchzell (germany)', b'', 1200, 49.618889, 9.177778),
       (b'1/6/2014 00:00', b'bremen (germany)', b'', 10800, 50.716667, 10.0),
       (b'2/12/1969 23:30', b'wildflecken (germany', b'', 300, 50.366667, 9.916667),
       (b'2/15/1991 00:00', b'munich (germany)', b'', 120, 48.15, 11.5833),
       (b'2/15/1992 23:30', b'baumholder (germany)', b'', 1800, 49.616667, 7.333333),
       (b'2/27/1975 06:25', b'zirndorf (west germa', b'', 3, 49.45, 10.95),
       (b'2/4/2003 23:15', b'hamburg (germany)', b'', 18000, 53.55, 10.0),
       (b'3/12/2005 14:30', b'langenleiten (german', b'', 180, 50.333333, 9.983333),
       (b'3/15/1962 12:00', b'baumholder (germany)', b'', 180, 49.616667, 7.333333),
       (b'3/17/2012 19:15', b'zehdenick (germany)', b'', 180, 52.983333, 13.333333),
       (b'3/2/2006 22:00', b'hanau (germany)', b'', 600, 50.133333, 8.916667),
       (b'3/23/2009 22:07', b'berlin (germany)', b'', 300, 52.516667, 13.4),
       (b'3/27/2004 22:25', b'aachen (near cologne', b'', 2, 50.770833, 6.105278),
       (b'4/10/1968 17:00', b'munich (oberschliess', b'', 600, 48.15, 11.5833),
       (b'4/15/2013 24:00', b'munich (near) (germa', b'', 120, 48.15, 11.5833),
       (b'4/16/2007 21:14', b'bremen (germany)', b'', 60, 50.716667, 10.0),
       (b'4/17/2010 21:00', b'berlin (germany)', b'', 240, 52.516667, 13.4),
       (b'4/21/1990 22:10', b'bad pyrmont (germany', b'', 20, 51.983333, 9.25),
       (b'4/25/2012 01:00', b'freiburg (germany)', b'', 40, 50.916667, 13.366667),
       (b'4/7/2014 22:00', b'frankfurt am main (g', b'', 120, 50.116667, 8.683333),
       (b'5/10/2002 01:00', b'siegen (germany)', b'', 1200, 50.866667, 8.033333),
       (b'5/10/2008 12:00', b'erlangen (germany)', b'', 1200, 49.589722, 11.003889),
       (b'5/13/2000 22:45', b'osnabruck (germany)', b'', 300, 52.266667, 8.05),
       (b'5/14/2007 01:25', b'kelsterbach (germany', b'', 150, 50.066667, 8.533333),
       (b'5/15/1971 02:00', b'trier (germany)', b'', 15, 49.75, 6.633333),
       (b'5/29/2003 23:45', b'elbingen (germany)', b'', 60, 50.533333, 7.916667),
       (b'5/6/2014 24:00', b'bocholt (germany)', b'', 240, 51.833333, 6.6),
       (b'5/7/1995 18:00', b'emmelshausen (german', b'', 7200, 50.15, 7.566667),
       (b'6/1/1968 05:00', b'darmstadt (germany)', b'', 21600, 49.870556, 8.649444),
       (b'6/13/1981 22:00', b'stuttgart (germany)', b'', 300, 48.766667, 9.183333),
       (b'6/14/2013 23:01', b'berlin (germany)', b'', 30, 52.516667, 13.4),
       (b'6/15/1996 02:00', b'ansbach (germany)', b'', 5, 49.3, 10.583333),
       (b'6/15/2005 14:32', b'frankfurt (germany)', b'', 300, 52.35, 14.55),
       (b'6/17/2008 22:00', b'dresden (germany)', b'', 180, 51.05, 13.75),
       (b'6/21/2007 23:10', b'mainz (germany)', b'', 4, 50.0, 8.271111),
       (b'6/21/2013 19:30', b'werder (havel) (germ', b'', 3, 52.133333, 11.65),
       (b'6/24/1974 14:40', b'schweinfurt (west ge', b'', 120, 50.05, 10.233333),
       (b'6/26/2006 04:30', b'emlichheim (germany)', b'', 10, 52.616667, 6.85),
       (b'6/28/2009 00:24', b'staufen (germany)', b'', 900, 48.666667, 10.283333),
       (b'6/30/2008 03:00', b'neuseddin (potsdam)(', b'', 1814400, 52.283333, 12.983333),
       (b'6/6/1970 18:00', b'mannheim (west germa', b'', 30, 49.488333, 8.464722),
       (b'6/6/2004 11:50', b'schafhausen (germany', b'', 120, 50.566667, 10.183333),
       (b'6/6/2008 15:00', b'berlin (germany)', b'', 180, 52.516667, 13.4),
       (b'6/7/2008 23:00', b'erfurt (thuringia&#4', b'', 1200, 50.983333, 11.033333),
       (b'6/8/2010 19:45', b'munich (germany)', b'', 120, 48.15, 11.5833),
       (b'7/1/1979 13:00', b'waldorf (west german', b'', 300, 50.483333, 7.233333),
       (b'7/14/2001 23:15', b'bamberg (germany/bav', b'', 180, 49.866667, 10.866667),
       (b'7/15/2006 18:00', b'fulda (near) (german', b'', 2, 50.55, 9.666667),
       (b'7/15/2007 00:45', b'ansbach (germany)', b'', 900, 49.3, 10.583333),
       (b'7/17/2008 22:00', b'dresden (germany)', b'', 180, 51.05, 13.75),
       (b'7/18/1987 12:30', b'bierenbachtal (germa', b'', 600, 50.916667, 7.55),
       (b'7/18/2004 23:45', b'kassel (germany) (on', b'', 180, 51.316667, 9.5),
       (b'7/21/2003 02:30', b'bamberg (germany)', b'', 604800, 49.866667, 10.866667),
       (b'7/22/2002 15:00', b'maugenhard (germany)', b'', 180, 47.67489, 7.631976),
       (b'7/25/2008 15:04', b'regensburg (germany)', b'', 2, 49.015, 12.095556),
       (b'7/25/2008 22:00', b'berlin (germany)', b'', 60, 52.516667, 13.4),
       (b'7/28/2012 21:45', b'berlin (germany)', b'', 300, 52.516667, 13.4),
       (b'7/30/2008 01:30', b'ramstein (germany)', b'', 3600, 49.45, 7.533333),
       (b'7/3/1997 23:00', b'bochum (germany)', b'', 120, 51.483333, 7.216667),
       (b'7/3/2007 02:30', b'mainz (germany)', b'', 7, 50.0, 8.271111),
       (b'8/1/1969 20:00', b'berlin (germany)', b'', 300, 52.516667, 13.4),
       (b'8/1/2007 04:00', b'neumarkt (germany)', b'', 5, 51.35, 12.016667),
       (b'8/1/2010 24:00', b'munich (germany)', b'', 30, 48.15, 11.5833),
       (b'8/13/2003 22:05', b'biesenthal (germany)', b'', 2, 52.75, 11.566667),
       (b'8/15/2013 15:30', b'haus (germany)', b'', 5, 47.583333, 9.866667),
       (b'8/15/2013 20:31', b'freiburg (germany)', b'', 60, 50.916667, 13.366667),
       (b'8/17/2013 20:50', b'obernheim (germany)', b'', 600, 49.366667, 7.583333),
       (b'8/20/2000 23:00', b'weissenburg (germany', b'', 90, 50.733333, 11.45),
       (b'8/23/2008 22:30', b'bitburg (germany)', b'', 1800, 49.966667, 6.533333),
       (b'8/23/2008 22:55', b'berlin (germany)', b'', 15, 52.516667, 13.4),
       (b'8/26/2008 21:00', b'heidelberg (germany)', b'', 300, 50.633333, 13.466667),
       (b'8/29/2000 01:30', b'hannover (germany)', b'', 900, 53.183333, 8.516667),
       (b'8/3/1973 22:30', b'schwetzingen (german', b'', 60, 49.378056, 8.581944),
       (b'8/9/2008 22:50', b'buchholz (germany)', b'', 60, 52.6, 13.433333),
       (b'8/9/2010 00:30', b'cologne (germany)', b'', 180, 50.933333, 6.95),
       (b'9/10/1999 21:10', b'weiden (ne bavaria) ', b'', 6, 51.066667, 11.366667),
       (b'9/12/2009 19:00', b'grafenhausen (german', b'', 60, 49.233333, 7.966667),
       (b'9/13/2011 12:00', b'heilbronn (germany)', b'', 5, 49.166667, 10.366667),
       (b'9/16/2007 08:15', b'gelsenkirchen (germa', b'', 20, 51.516667, 7.05),
       (b'9/16/2007 18:15', b'neckarsulm (germany)', b'', 30, 49.192778, 9.226111),
       (b'9/4/2011 05:00', b'mannheim (germany)', b'', 1800, 49.488333, 8.464722),
       (b'9/9/2009 21:38', b'kaiserlautern (germa', b'', 40, 49.45, 7.75)],
      dtype=[('datetime', 'S16'), ('city', 'S20'), ('state', 'S2'), ('duration', '<i4'), ('lat', '<f8'), ('lon', '<f8')])